In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf

/Users/collinlyou/anaconda3/lib/python3.6/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [2]:
users_df = pd.read_csv("takehome_users.csv", encoding='ISO-8859-1')

engagement_df = pd.read_csv("takehome_user_engagement.csv", encoding='ISO-8859-1')

In [3]:
users_df.head()

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0

In [4]:
engagement_df.head()

            time_stamp  user_id  visited
0  2014-04-22 03:53:30        1        1
1  2013-11-15 03:45:04        2        1
2  2013-11-29 03:45:04        2        1
3  2013-12-09 03:45:04        2        1
4  2013-12-25 03:45:04        2        1

In [5]:
engagement_df['adopted_user'] = 0 #Creating new column for 'adopted_user'
engagement_df.head()

            time_stamp  user_id  visited  adopted_user
0  2014-04-22 03:53:30        1        1             0
1  2013-11-15 03:45:04        2        1             0
2  2013-11-29 03:45:04        2        1             0
3  2013-12-09 03:45:04        2        1             0
4  2013-12-25 03:45:04        2        1             0

In [6]:
len(engagement_df)

207917

In [7]:
len(users_df)

12000

In [8]:
users_df.rename(columns = {'object_id':'user_id'}, inplace = True) #Do this prior to merging the 2 dataframes
users_df.head()

,user_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0

In [9]:
data = pd.merge(users_df, engagement_df, on='user_id') #Merging the two dataframes, should have same length as engagement_df
len(data)

207917

In [10]:
data.head()

,user_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,time_stamp,visited,adopted_user
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0,2014-04-22 03:53:30,1,0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,2013-11-15 03:45:04,1,0
2,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,2013-11-29 03:45:04,1,0
3,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,2013-12-09 03:45:04,1,0
4,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,2013-12-25 03:45:04,1,0

In [11]:
#The Unix time needs to be converted to Datetime

data['last_session_creation_time'] = pd.to_datetime(data['last_session_creation_time'], unit='s')

data.head()

,user_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,time_stamp,visited,adopted_user
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,2014-04-22 03:53:30,1,0,11,10803.0,2014-04-22 03:53:30,1,0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,2014-03-31 03:45:04,0,0,1,316.0,2013-11-15 03:45:04,1,0
2,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,2014-03-31 03:45:04,0,0,1,316.0,2013-11-29 03:45:04,1,0
3,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,2014-03-31 03:45:04,0,0,1,316.0,2013-12-09 03:45:04,1,0
4,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,2014-03-31 03:45:04,0,0,1,316.0,2013-12-25 03:45:04,1,0

In [12]:
data = data.sort_values(['user_id', 'time_stamp'], ascending = True)
data.head()

,user_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,time_stamp,visited,adopted_user
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,2014-04-22 03:53:30,1,0,11,10803.0,2014-04-22 03:53:30,1,0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,2014-03-31 03:45:04,0,0,1,316.0,2013-11-15 03:45:04,1,0
2,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,2014-03-31 03:45:04,0,0,1,316.0,2013-11-29 03:45:04,1,0
3,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,2014-03-31 03:45:04,0,0,1,316.0,2013-12-09 03:45:04,1,0
4,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,2014-03-31 03:45:04,0,0,1,316.0,2013-12-25 03:45:04,1,0

In [13]:
type(data['time_stamp'][7])

str

In [14]:
#Need to convert the string 'time_stamp' to a Datetime

data['time_stamp'] = pd.to_datetime(data['time_stamp'])

data.head()

,user_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,time_stamp,visited,adopted_user
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,2014-04-22 03:53:30,1,0,11,10803.0,2014-04-22 03:53:30,1,0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,2014-03-31 03:45:04,0,0,1,316.0,2013-11-15 03:45:04,1,0
2,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,2014-03-31 03:45:04,0,0,1,316.0,2013-11-29 03:45:04,1,0
3,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,2014-03-31 03:45:04,0,0,1,316.0,2013-12-09 03:45:04,1,0
4,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,2014-03-31 03:45:04,0,0,1,316.0,2013-12-25 03:45:04,1,0

In [15]:
#This variable gives the number of days between every other observation. An aopted user is defined as one who logs
# in three times in a 7 day period. If sorted, then what is relevant is the endpoints. 

data['delta'] = data['time_stamp'] - data['time_stamp'].shift(-2)

data.head()

,user_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,time_stamp,visited,adopted_user,delta
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,2014-04-22 03:53:30,1,0,11,10803.0,2014-04-22 03:53:30,1,0,144 days 00:08:26
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,2014-03-31 03:45:04,0,0,1,316.0,2013-11-15 03:45:04,1,0,-24 days +00:00:00
2,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,2014-03-31 03:45:04,0,0,1,316.0,2013-11-29 03:45:04,1,0,-26 days +00:00:00
3,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,2014-03-31 03:45:04,0,0,1,316.0,2013-12-09 03:45:04,1,0,-22 days +00:00:00
4,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,2014-03-31 03:45:04,0,0,1,316.0,2013-12-25 03:45:04,1,0,-14 days +00:00:00

In [16]:
#Converting the delta into the absolute value of days

data.delta.fillna(value=0, inplace=True)
data['delta'] = (data['delta'] / np.timedelta64(1, 'D')).astype(int)
data.delta = np.abs(data.delta)
data.head()

,user_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,time_stamp,visited,adopted_user,delta
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,2014-04-22 03:53:30,1,0,11,10803.0,2014-04-22 03:53:30,1,0,144
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,2014-03-31 03:45:04,0,0,1,316.0,2013-11-15 03:45:04,1,0,24
2,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,2014-03-31 03:45:04,0,0,1,316.0,2013-11-29 03:45:04,1,0,26
3,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,2014-03-31 03:45:04,0,0,1,316.0,2013-12-09 03:45:04,1,0,22
4,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,2014-03-31 03:45:04,0,0,1,316.0,2013-12-25 03:45:04,1,0,14

In [17]:
#This variable tells us if the user_id is the same between two observations, 0 = same, >0 = different

data['same_user'] = np.abs(data['user_id'] - data['user_id'].shift(-2))
data.same_user.fillna(value=1, inplace=True)
data.head()

,user_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,time_stamp,visited,adopted_user,delta,same_user
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,2014-04-22 03:53:30,1,0,11,10803.0,2014-04-22 03:53:30,1,0,144,1.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,2014-03-31 03:45:04,0,0,1,316.0,2013-11-15 03:45:04,1,0,24,0.0
2,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,2014-03-31 03:45:04,0,0,1,316.0,2013-11-29 03:45:04,1,0,26,0.0
3,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,2014-03-31 03:45:04,0,0,1,316.0,2013-12-09 03:45:04,1,0,22,0.0
4,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,2014-03-31 03:45:04,0,0,1,316.0,2013-12-25 03:45:04,1,0,14,0.0

In [18]:
data.isnull().sum()

user_id                           0
creation_time                     0
name                              0
email                             0
creation_source                   0
last_session_creation_time        0
opted_in_to_mailing_list          0
enabled_for_marketing_drip        0
org_id                            0
invited_by_user_id            91030
time_stamp                        0
visited                           0
adopted_user                      0
delta                             0
same_user                         0
dtype: int64

In [19]:
#One assumes that if there is no invite, the user_id of the inviter is 0. 

data.invited_by_user_id.fillna(value=0, inplace = True)
data.isnull().sum()

user_id                       0
creation_time                 0
name                          0
email                         0
creation_source               0
last_session_creation_time    0
opted_in_to_mailing_list      0
enabled_for_marketing_drip    0
org_id                        0
invited_by_user_id            0
time_stamp                    0
visited                       0
adopted_user                  0
delta                         0
same_user                     0
dtype: int64

In [20]:
data.head()

,user_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,time_stamp,visited,adopted_user,delta,same_user
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,2014-04-22 03:53:30,1,0,11,10803.0,2014-04-22 03:53:30,1,0,144,1.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,2014-03-31 03:45:04,0,0,1,316.0,2013-11-15 03:45:04,1,0,24,0.0
2,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,2014-03-31 03:45:04,0,0,1,316.0,2013-11-29 03:45:04,1,0,26,0.0
3,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,2014-03-31 03:45:04,0,0,1,316.0,2013-12-09 03:45:04,1,0,22,0.0
4,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,2014-03-31 03:45:04,0,0,1,316.0,2013-12-25 03:45:04,1,0,14,0.0

In [21]:
#To determine who is an adopted_user and who isn't, the user_ids must be the same and the delta must be less than 7 days 

data.loc[((data['delta'] <= 7) & (data['same_user'] == 0)), 'adopted_user'] = 1

data.head()

,user_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,time_stamp,visited,adopted_user,delta,same_user
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,2014-04-22 03:53:30,1,0,11,10803.0,2014-04-22 03:53:30,1,0,144,1.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,2014-03-31 03:45:04,0,0,1,316.0,2013-11-15 03:45:04,1,0,24,0.0
2,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,2014-03-31 03:45:04,0,0,1,316.0,2013-11-29 03:45:04,1,0,26,0.0
3,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,2014-03-31 03:45:04,0,0,1,316.0,2013-12-09 03:45:04,1,0,22,0.0
4,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,2014-03-31 03:45:04,0,0,1,316.0,2013-12-25 03:45:04,1,0,14,0.0

In [22]:
#Determine what number of entries is consistent with being an adopted_user

data['adopted_user'].sum()

167199

In [23]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
user_id,207917.0,5913.314197,3394.941674,1.0,3087.0,5682.0,8944.0,12000.0
opted_in_to_mailing_list,207917.0,0.258137,0.437611,0.0,0.0,0.0,1.0,1.0
enabled_for_marketing_drip,207917.0,0.154533,0.361460,0.0,0.0,0.0,0.0,1.0
org_id,207917.0,164.315895,121.165846,0.0,60.0,145.0,260.0,416.0
invited_by_user_id,207917.0,3357.439502,3834.871624,0.0,0.0,1585.0,6442.0,11999.0
visited,207917.0,1.000000,0.000000,1.0,1.0,1.0,1.0,1.0
adopted_user,207917.0,0.804162,0.396845,0.0,1.0,1.0,1.0,1.0
delta,207917.0,18.935542,73.262118,0.0,2.0,3.0,6.0,733.0
same_user,207917.0,0.115421,0.543143,0.0,0.0,0.0,0.0,9.0

In [24]:
data['same_user'].unique()

array([ 1.,  0.,  2.,  4.,  3.,  5.,  6.,  9.,  7.,  8.])

In [25]:
# Number of unique user_ids
data['user_id'].nunique()

8823

In [26]:
# Organizational IDs
print(data['org_id'].unique())

[ 11   1  94 193 197  37 318  69 254   0 175  58  54   7   6 123  81 134
  92 251 283 401 109 276  64 235  63  14   4 127  32 224 304  61  51 229
  88 325 150 203  21 409 215 141   5 107 367 389  89 242  68  16  49 185
  91 172   8  43 249  26 139  70  10 252 119 130   3 196 335 375 303  25
  83  27 118 295  19 301 100 112 263  39 184 402 103 373 268  30  53 313
 138 261  35 264  95  55  60  28 410 170  42 374  15  17 364  62 342 225
 121 255 411 217 415 104 329 278 116 290 122 135 328  36  13 349 353 198
 108  77 142 275   2 191 102 245  56 154 218 385  76 321 159 371  50  75
 333 137 292 131 178 213 192 300 316  52  12 332  79 398 269 147 211  18
 382 365 144  45 343 200 231 338 340 334 163   9 302 156  84 285 380 148
 272 244 414 237 129 346 362 165 331  71 105 221  98 361 143 413 152 128
 352 286 327  31 394 289 381 205 320  29 262  99 336 271 366 136  93  22
 356 179 120 330  65 296  33 339  20  74 236 383  40  41  44 160 117  73
 126 372 376 208  96 306 258 181 256 174 291 274 214 226 344 284 176 164
  80 239 114 201 157 151 281  78 106 209 132 326 146  97  46 266  47 305
 299 406  23 297 253 189 309 345 110  24 194 161 358 207 153 319 227  59
 149 177  38 322 412 223 113 347 288 399  67 169 280 395 190 228 307 270
 311 202 293 195 216  87 337 115  66 246 350  86 204  72 368 357 354  57
 351 259 124  85 248 312 404 277  82 405 408 390 238 314 267 222  48 220
 308 241 111 168 298 294 140 180 101 250  34 387 166 260 186 317 391 400
 324 212 369 188 171 182 158 240 199 243 310 273 162 282 279 233 386 247
 379 370 155 230 315 363 388 125 167 265  90 210 359 232 133 392 348 287
 173 355 206 183 360 145 341 407 323 397 219 257 384 403 378 393 234 396
 187 377 416]

In [27]:
data['creation_source'].unique()

array(['GUEST_INVITE', 'ORG_INVITE', 'SIGNUP', 'PERSONAL_PROJECTS',
       'SIGNUP_GOOGLE_AUTH'], dtype=object)

In [28]:
# It looks like out of 8823 user_ids, 2230 are inviters

data['invited_by_user_id'].nunique()

2230

In [29]:
# We want to know who is a recommender and if that affects the quality of being an adopted user

# This creates a list of inviter user ids
recommend_set = list(data['invited_by_user_id'].unique()) 
print(len(recommend_set))

2230

In [30]:
#This step determines who is a recommender and who isn't.

data['recommender'] = 0
data['user_id2'] = data['user_id'] * 1.0
data['rec'] = np.isin(data['user_id2'], recommend_set)

data.loc[data['rec'] == False, 'recommender'] = 0
data.loc[data['rec'] == True, 'recommender'] = 1


data['recommender'].sum()

86580

In [31]:
data['recommended'] = 0
data.loc[data['invited_by_user_id'] > 0, 'recommended'] = 1

In [32]:
data['recommended'].sum()

116887

In [33]:
data['visited'].count() #Superfluous column

207917

In [34]:
data.head()

,user_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,time_stamp,visited,adopted_user,delta,same_user,recommender,user_id2,rec,recommended
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,2014-04-22 03:53:30,1,0,11,10803.0,2014-04-22 03:53:30,1,0,144,1.0,0,1.0,False,1
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,2014-03-31 03:45:04,0,0,1,316.0,2013-11-15 03:45:04,1,0,24,0.0,0,2.0,False,1
2,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,2014-03-31 03:45:04,0,0,1,316.0,2013-11-29 03:45:04,1,0,26,0.0,0,2.0,False,1
3,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,2014-03-31 03:45:04,0,0,1,316.0,2013-12-09 03:45:04,1,0,22,0.0,0,2.0,False,1
4,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,2014-03-31 03:45:04,0,0,1,316.0,2013-12-25 03:45:04,1,0,14,0.0,0,2.0,False,1

In [35]:
# Getting rid of unnecessary coumns

df = data.drop(['name', 
                'email', 
                'user_id2', 
                'same_user', 
                'rec', 
                'visited', 
                'invited_by_user_id', 
                'delta'], axis = 1).sort_index()
df.head()

,user_id,creation_time,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,time_stamp,adopted_user,recommender,recommended
0,1,2014-04-22 03:53:30,GUEST_INVITE,2014-04-22 03:53:30,1,0,11,2014-04-22 03:53:30,0,0,1
1,2,2013-11-15 03:45:04,ORG_INVITE,2014-03-31 03:45:04,0,0,1,2013-11-15 03:45:04,0,0,1
2,2,2013-11-15 03:45:04,ORG_INVITE,2014-03-31 03:45:04,0,0,1,2013-11-29 03:45:04,0,0,1
3,2,2013-11-15 03:45:04,ORG_INVITE,2014-03-31 03:45:04,0,0,1,2013-12-09 03:45:04,0,0,1
4,2,2013-11-15 03:45:04,ORG_INVITE,2014-03-31 03:45:04,0,0,1,2013-12-25 03:45:04,0,0,1

In [36]:
y = data['adopted_user'] #PREDICTOR / RESPONSE VARIABLE

In [37]:
creation_dummy = pd.get_dummies(df['creation_source'], prefix = 'Is', drop_first=True)
creation_dummy.describe().T

#GUEST_INVITE is the base case

                          count      mean       std  min  25%  50%  75%  max
Is_ORG_INVITE          207917.0  0.337110  0.472724  0.0  0.0  0.0  1.0  1.0
Is_PERSONAL_PROJECTS   207917.0  0.092450  0.289661  0.0  0.0  0.0  0.0  1.0
Is_SIGNUP              207917.0  0.180577  0.384668  0.0  0.0  0.0  0.0  1.0
Is_SIGNUP_GOOGLE_AUTH  207917.0  0.164792  0.370993  0.0  0.0  0.0  0.0  1.0

In [38]:
# A logistic regression model is used because the response variable is binary. 


X1 = sm.add_constant(creation_dummy)

logit = sm.Logit(y, X1)

result = logit.fit()
print(result.summary())

Optimization terminated successfully.
         Current function value: 0.494278
         Iterations 5
                           Logit Regression Results
==============================================================================
Dep. Variable:           adopted_user   No. Observations:               207917
Model:                          Logit   Df Residuals:                   207912
Method:                           MLE   Df Model:                            4
Date:                Sun, 26 Nov 2017   Pseudo R-squ.:               0.0006067
Time:                        21:08:07   Log-Likelihood:            -1.0277e+05
converged:                       True   LL-Null:                   -1.0283e+05
                                        LLR p-value:                 5.083e-26
=========================================================================================
                            coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------------
const                     1.4236      0.012    121.799      0.000       1.401       1.447
Is_ORG_INVITE            -0.0277      0.015     -1.843      0.065      -0.057       0.002
Is_PERSONAL_PROJECTS     -0.0849      0.021     -3.992      0.000      -0.127      -0.043
Is_SIGNUP                -0.0670      0.017     -3.868      0.000      -0.101      -0.033
Is_SIGNUP_GOOGLE_AUTH     0.1177      0.018      6.408      0.000       0.082       0.154
=========================================================================================

In [39]:
# odds ratios only
print(np.exp(result.params))

const                    4.152042
Is_ORG_INVITE            0.972661
Is_PERSONAL_PROJECTS     0.918566
Is_SIGNUP                0.935190
Is_SIGNUP_GOOGLE_AUTH    1.124941
dtype: float64

In [40]:
org_dummy = pd.get_dummies(df['org_id'], prefix = 'Is', drop_first=True)
org_dummy.describe().T

           count      mean       std  min  25%  50%  75%  max
Is_1    207917.0  0.011052  0.104548  0.0  0.0  0.0  0.0  1.0
Is_2    207917.0  0.009461  0.096804  0.0  0.0  0.0  0.0  1.0
Is_3    207917.0  0.008984  0.094359  0.0  0.0  0.0  0.0  1.0
Is_4    207917.0  0.009927  0.099139  0.0  0.0  0.0  0.0  1.0
Is_5    207917.0  0.005353  0.072969  0.0  0.0  0.0  0.0  1.0
Is_6    207917.0  0.003006  0.054745  0.0  0.0  0.0  0.0  1.0
Is_7    207917.0  0.009244  0.095701  0.0  0.0  0.0  0.0  1.0
Is_8    207917.0  0.007027  0.083531  0.0  0.0  0.0  0.0  1.0
Is_9    207917.0  0.004757  0.068805  0.0  0.0  0.0  0.0  1.0
Is_10   207917.0  0.005627  0.074804  0.0  0.0  0.0  0.0  1.0
Is_11   207917.0  0.003189  0.056379  0.0  0.0  0.0  0.0  1.0
Is_12   207917.0  0.003295  0.057304  0.0  0.0  0.0  0.0  1.0
Is_13   207917.0  0.010091  0.099944  0.0  0.0  0.0  0.0  1.0
Is_14   207917.0  0.004011  0.063207  0.0  0.0  0.0  0.0  1.0
Is_15   207917.0  0.005473  0.073779  0.0  0.0  0.0  0.0  1.0
Is_16   207917.0  0.007330  0.085300  0.0  0.0  0.0  0.0  1.0
Is_17   207917.0  0.003256  0.056969  0.0  0.0  0.0  0.0  1.0
Is_18   207917.0  0.003400  0.058214  0.0  0.0  0.0  0.0  1.0
Is_19   207917.0  0.001433  0.037831  0.0  0.0  0.0  0.0  1.0
Is_20   207917.0  0.005040  0.070817  0.0  0.0  0.0  0.0  1.0
Is_21   207917.0  0.002285  0.047743  0.0  0.0  0.0  0.0  1.0
Is_22   207917.0  0.001789  0.042261  0.0  0.0  0.0  0.0  1.0
Is_23   207917.0  0.002285  0.047743  0.0  0.0  0.0  0.0  1.0
Is_24   207917.0  0.005127  0.071420  0.0  0.0  0.0  0.0  1.0
Is_25   207917.0  0.004055  0.063546  0.0  0.0  0.0  0.0  1.0
Is_26   207917.0  0.000789  0.028074  0.0  0.0  0.0  0.0  1.0
Is_27   207917.0  0.001573  0.039627  0.0  0.0  0.0  0.0  1.0
Is_28   207917.0  0.001265  0.035543  0.0  0.0  0.0  0.0  1.0
Is_29   207917.0  0.000832  0.028834  0.0  0.0  0.0  0.0  1.0
Is_30   207917.0  0.001428  0.037768  0.0  0.0  0.0  0.0  1.0
...          ...       ...       ...  ...  ...  ...  ...  ...
Is_387  207917.0  0.003506  0.059109  0.0  0.0  0.0  0.0  1.0
Is_388  207917.0  0.000750  0.027381  0.0  0.0  0.0  0.0  1.0
Is_389  207917.0  0.001881  0.043325  0.0  0.0  0.0  0.0  1.0
Is_390  207917.0  0.000991  0.031461  0.0  0.0  0.0  0.0  1.0
Is_391  207917.0  0.002655  0.051457  0.0  0.0  0.0  0.0  1.0
Is_392  207917.0  0.003266  0.057053  0.0  0.0  0.0  0.0  1.0
Is_393  207917.0  0.001818  0.042600  0.0  0.0  0.0  0.0  1.0
Is_394  207917.0  0.000106  0.010286  0.0  0.0  0.0  0.0  1.0
Is_395  207917.0  0.001265  0.035543  0.0  0.0  0.0  0.0  1.0
Is_396  207917.0  0.000043  0.006579  0.0  0.0  0.0  0.0  1.0
Is_397  207917.0  0.000130  0.011395  0.0  0.0  0.0  0.0  1.0
Is_398  207917.0  0.000188  0.013695  0.0  0.0  0.0  0.0  1.0
Is_399  207917.0  0.004574  0.067476  0.0  0.0  0.0  0.0  1.0
Is_400  207917.0  0.004670  0.068179  0.0  0.0  0.0  0.0  1.0
Is_401  207917.0  0.001005  0.031689  0.0  0.0  0.0  0.0  1.0
Is_402  207917.0  0.000846  0.029082  0.0  0.0  0.0  0.0  1.0
Is_403  207917.0  0.001395  0.037321  0.0  0.0  0.0  0.0  1.0
Is_404  207917.0  0.003078  0.055396  0.0  0.0  0.0  0.0  1.0
Is_405  207917.0  0.002419  0.049126  0.0  0.0  0.0  0.0  1.0
Is_406  207917.0  0.001736  0.041632  0.0  0.0  0.0  0.0  1.0
Is_407  207917.0  0.002203  0.046882  0.0  0.0  0.0  0.0  1.0
Is_408  207917.0  0.000712  0.026671  0.0  0.0  0.0  0.0  1.0
Is_409  207917.0  0.000947  0.030767  0.0  0.0  0.0  0.0  1.0
Is_410  207917.0  0.000111  0.010517  0.0  0.0  0.0  0.0  1.0
Is_411  207917.0  0.002799  0.052833  0.0  0.0  0.0  0.0  1.0
Is_412  207917.0  0.000038  0.006203  0.0  0.0  0.0  0.0  1.0
Is_413  207917.0  0.002838  0.053194  0.0  0.0  0.0  0.0  1.0
Is_414  207917.0  0.000803  0.028330  0.0  0.0  0.0  0.0  1.0
Is_415  207917.0  0.003338  0.057678  0.0  0.0  0.0  0.0  1.0
Is_416  207917.0  0.000010  0.003101  0.0  0.0  0.0  0.0  1.0

[416 rows x 8 columns]

In [41]:
X2 = sm.add_constant(org_dummy)

logit = sm.Logit(y, X2)

result = logit.fit()
print(result.summary())

/Users/collinlyou/anaconda3/lib/python3.6/site-packages/statsmodels/discrete/discrete_model.py:1214: RuntimeWarning: overflow encountered in exp
  return 1/(1+np.exp(-X))
/Users/collinlyou/anaconda3/lib/python3.6/site-packages/statsmodels/discrete/discrete_model.py:1264: RuntimeWarning: divide by zero encountered in log
  return np.sum(np.log(self.cdf(q*np.dot(X,params))))

Warning: Maximum number of iterations has been exceeded.
         Current function value: inf
         Iterations: 35

LinAlgError: Singular matrix

In [42]:
# odds ratios only
print(np.exp(result.params))

const                    4.152042
Is_ORG_INVITE            0.972661
Is_PERSONAL_PROJECTS     0.918566
Is_SIGNUP                0.935190
Is_SIGNUP_GOOGLE_AUTH    1.124941
dtype: float64

In [43]:
X3 = df[['opted_in_to_mailing_list', 'enabled_for_marketing_drip', 'recommender', 'recommended']]
X3.head()

,opted_in_to_mailing_list,enabled_for_marketing_drip,recommender,recommended
0,1,0,0,1
1,0,0,0,1
2,0,0,0,1
3,0,0,0,1
4,0,0,0,1

In [46]:
X3 = sm.add_constant(X3)

logit = sm.Logit(y, X3)

result = logit.fit()
print(result.summary())

Optimization terminated successfully.
         Current function value: 0.482180
         Iterations 6
                           Logit Regression Results
==============================================================================
Dep. Variable:           adopted_user   No. Observations:               207917
Model:                          Logit   Df Residuals:                   207912
Method:                           MLE   Df Model:                            4
Date:                Sun, 26 Nov 2017   Pseudo R-squ.:                 0.02507
Time:                        21:10:36   Log-Likelihood:            -1.0025e+05
converged:                       True   LL-Null:                   -1.0283e+05
                                        LLR p-value:                     0.000
==============================================================================================
                                 coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------------------
const                          1.1610      0.010    121.570      0.000       1.142       1.180
opted_in_to_mailing_list       0.0503      0.015      3.453      0.001       0.022       0.079
enabled_for_marketing_drip    -0.1929      0.017    -11.035      0.000      -0.227      -0.159
recommender                    0.8494      0.012     68.869      0.000       0.825       0.874
recommended                   -0.0585      0.011     -5.166      0.000      -0.081      -0.036
==============================================================================================

In [47]:
# odds ratios only
print(np.exp(result.params))

const                         3.193193
opted_in_to_mailing_list      1.051585
enabled_for_marketing_drip    0.824568
recommender                   2.338337
recommended                   0.943195
dtype: float64

<span class="badge badge-pill badge-default">Relax Challenge</span>
<div class="alert alert-success" role="alert">
  <p><b>Logisitic Regression Summary</b></p>

<p>Determining which variables determine user adoption starts with a prescreening. We assume that the name, the email address and the user ID do not determine whether or not someone is an adpoted user. These features were rejected due to lack of a potential causal relationship.</p>
<p></p>
<p>In Part 1, we look at creation source to determine which factors determine who is an adopted user. The guest invite appears to be a positive factor (more on this later) and more so if using Google authorization. Signups with org_invite, personal projects and signup appear to weaken the strength of the guest invite. Interaction between the variables is considered but without knowledge of how they are suppose to interact, it was discarded.</p>
<p></p>
<p>In Part 2, we look at the 'ord_id' of the users to determine if the organizational department determines who is an adopted user. (Note: the regression model crashed and suggested that a singular matrix is at work even though that is not the case; you may try to do this yourself to see if there is a different result)</p>
<p></p>
<p>In Part 3, we look at the user behaviors. We see that opting into the mailing list makes it more likely to be an adopted user while being enabled for a marketing drip makes it less likely to be an adopted user. We also see that inviting users makes one more likely to be an adopted user while receiving an invite makes one less likely to be an adoopted user.</p>